<h1><%= @title %></h1>
<% if current_user == @user %>
	<h3>Feed (followers plus themselves):</h3>
	<p>------------------------------------------------------</p>
	<% if !@moments.nil? %>
		<% @moments.each do |moment| %>
			<% @moments_user = User.find(moment.user_id) %>
			<p>Song: <%= link_to moment.song, moment_path(moment)%></p>
			<% if current_user.following?(@moments_user) || current_user == User.find(@moments_user) %>
				<p>Posted By: <%= link_to @moments_user.username, @moments_user %></p>
			<% else %>
				<p>Posted By: <%= @moments_user %></p>
			<% end %>
			<% @tagged = moment.users %>
			<% if @tagged.count > 0 %>
				<p>Also Tagged: 
					<% @tagged.each do |user| %> 
						<% if MomentsUsers.where("moment_id = ? AND user_id = ?", moment.id, user.id).first.approved == true %>
							<%= link_to user.username, user %>,
						<% else %>
							<%= user.username %>,
						<% end %>
					<% end %>
				</p>
			<% end %>
			<p>------------------------------------------------------</p>
		<% end %>
	<% else %>
		<p>You currently have no moments and are not following anyone with a moment.</p>
	<% end %>
	<h3><%= link_to 'Create a Music Moment >>', new_moment_path %></h3>
<% else %>
	<div id="follow_form">
		<% if current_user.following?(@user) %>
			<p><%= render 'unfollow' %></p>
		<% else %> 
			<p><%= render 'follow' %></p>
		<% end %>
	</div>
	<div id="user_moments">
		<% if current_user.following?(@user) %>
			<%= render 'moments' %>
		<% end %>
	</div>
<% end %>