<h1>Listing moments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Song</th>
    <th>Friends</th>
    <th>Year</th>
    <th>Season</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moments.each do |moment| %>
  <tr>
    <td><%= moment.name %></td>
    <td><%= moment.song %></td>
    <td><%= moment.friends %></td>
    <td><%= moment.year %></td>
    <td><%= moment.season %></td>
    <td><%= link_to 'Show', moment %></td>
    <td><%= link_to 'Edit', edit_moment_path(moment) %></td>
    <td><%= link_to 'Destroy', moment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moment', new_moment_path %>
