<p id="notice"><%= notice %></p>
<%= render "video"%>


<p>
  <b>Name:</b>
  <%= @moment.name %>
</p>

<p>
  <b>Song:</b>
  <%= @moment.song %>
</p>

<p>
  <b>Moment Members:</b>
  <% @moment.users.each do |user| %> <%= user.email %>, <% end %>
</p>
<p>
  <b>Pending Members:</b>
  <% @moment.temp_users.each do |user| %> <%= user.email %>, <% end %>
</p>
<p>
  <b>Year:</b>
  <%= @moment.year %>
</p>

<p>
  <b>Season:</b>
  <%= @moment.season %>
</p>
  
<% if !current_user.nil? %>
  <% if MomentsUsers.where("user_id = ? AND moment_id = ?", current_user.id, @moment.id).count > 0 %>
    <%= link_to 'Edit', edit_moment_path(@moment) %> |
  <% end %>
<% end %>
<%= link_to 'Back', current_user %>
